<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <clear/>
    <!-- Database connection string. This utilzes windows authentication for connectivity.  The username that -->
    <!-- the service runs under should be a member of the dms_webexporter database role.                      -->
    <!-- <add name="FlareworksDB" providerName="System.Data.SqlClient" connectionString="Server=DmsDev;Database=InterviewDatabase;Integrated Security=true;Connection Timeout=120"/> -->
    <add name="FlareworksDB" providerName="System.Data.SqlClient" connectionString="Server=SOB-SQL01\SOBEK2;Database=Flareworks2;Integrated Security=true;Connection Timeout=120"/>  

  </connectionStrings>
  
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <httpModules>
        <add type="FlareWorks.Library.UrlRewriter.FlareworksRewriter, FlareWorksLibrary" name="FlareworksRewriter"/>
      </httpModules>
      <httpHandlers>
        <add type="FlareWorks.Library.DataService.DataServiceHandler, FlareWorksLibrary" verb="*" path="*.csvc"/>
      </httpHandlers>
      <trust level="Full"/>
      <securityPolicy>
        <trustLevel name="Full" policyFile="internal"/>
      </securityPolicy>
      <customErrors mode="Off" />
    </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FlareworksRewriter"/>
      <add name="FlareworksRewriter" type="FlareWorks.Library.UrlRewriter.FlareworksRewriter, FlareWorksLibrary"/>
    </modules>
    <handlers>
      <add name="FlareworksHandler" verb="*" path="*.csvc" type="FlareWorks.Library.DataService.DataServiceHandler, FlareWorksLibrary"/>
    </handlers>
    <directoryBrowse enabled="false"/>
  </system.webServer>

</configuration>
